extends layout

block content
    div#searchform
        select
            option(value='all') All Consoles
            option(value='nes') Nes
            option(value='snes') Snes
            option(value='gba') Game Boy Advance
            option(value='gb') Game Boy
            option(value='gen') Genesis
        - //div(class='scopebadge') All Consoles
        input(type='text', name='search', data-hotkey='q', placeholder='Search')
    - //input#jsnes(type='button', value='jsnes')
    - //input#nesboxflash(type='button', value='nesboxflash')
    div#emulatorwrapper


    div#suggestionswrapper
        - var i = 0
        div(class="column")
            - for (i; i < suggestions.length/5; ++i)
                img(class="lazy tooltip" data-title="#{suggestions[i].t}" data-file="#{suggestions[i].f}" data-system="#{suggestions[i].s}" data-original="/images/#{suggestions[i].s}/#{suggestions[i].t}/100.jpg" title="#{suggestions[i].t}")
        div(class="column")
            - for (i; i < suggestions.length/5 * 2; ++i)
                img(class="lazy tooltip" data-title="#{suggestions[i].t}" data-file="#{suggestions[i].f}" data-system="#{suggestions[i].s}" data-original="/images/#{suggestions[i].s}/#{suggestions[i].t}/100.jpg" title="#{suggestions[i].t}")
        div(class="column")
            - for (i; i < suggestions.length/5 * 3; ++i)
                img(class="lazy tooltip" data-title="#{suggestions[i].t}" data-file="#{suggestions[i].f}" data-system="#{suggestions[i].s}" data-original="/images/#{suggestions[i].s}/#{suggestions[i].t}/100.jpg" title="#{suggestions[i].t}")
        div(class="column")
            - for (i; i < suggestions.length/5 * 4; ++i)
                img(class="lazy tooltip" data-title="#{suggestions[i].t}" data-file="#{suggestions[i].f}" data-system="#{suggestions[i].s}" data-original="/images/#{suggestions[i].s}/#{suggestions[i].t}/100.jpg" title="#{suggestions[i].t}")
        div(class="column")
            - for (i; i < suggestions.length; ++i)
                img(class="lazy tooltip" data-title="#{suggestions[i].t}" data-file="#{suggestions[i].f}" data-system="#{suggestions[i].s}" data-original="/images/#{suggestions[i].s}/#{suggestions[i].t}/100.jpg" title="#{suggestions[i].t}")